

@media (min-width:1920px){
    .content {
        min-width: 100%;
        background-image: url(' ../../images/bg-pattern-desktop.svg');
        grid-template-columns:200px auto minmax(600px,auto);
        background-repeat: no-repeat;
        /* background-size: cover; */
        background-position: 5px;
        background-size: 1090px;
    }

    .container .header {
        padding:90px 0;
        grid-area: header;
    }
    .container .content .section-principal h1 {
        margin-top: 190px;
        text-transform: uppercase;
        font-size: 5rem;
        letter-spacing: .9rem;
    }
    .container .content .section-principal .section-email{
        top: 90px;
        position: relative;
        width: 64%;
    }
    
}

@media (max-width: 900px) {
    .content{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    .content .header{
        order: -1;
    }

    .container .content .section-principal h1 {
        text-align: center;
        margin-top: -60px;
        text-transform: uppercase;
        font-size: 2.3rem;
        letter-spacing: .9rem;
    }

    .container .content .section-principal p {
        margin-top: 10px;
        text-align: center;
        padding-inline: 15px;
        min-width: 100%;
    }

    .container .content .section-principal .section-email{
        margin: auto;
        top: 30px;
        width: 320px;
    }

    .container .section-image{
        margin-top: -120px;
        order: -1;
    }
}

